/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* HTML element (SMACSS base) rules */
@import "normalize.css";

/* Layout rules */
@import "layouts/responsive.css";

/* Component (SMACSS module) rules */
@import "components/misc.css";
/* Optionally, add your own components here. */
@import "print.css";

/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */

body {
  background: #34DDDD ;
}
#page {
  background: #fff;
  color: #A67514;
}

a {
  text-decoration: none;
  color: #A61414;
}

#header {
  position: relative;
}
#site-slogan {
  position: absolute;
  bottom: 10px;
  left: 40px;
  font-size: 50%;
  font-style: italic;
}

#navigation {
  top: 113px;
  left: 380px;
  background-color: #FFBE3C;
  width: 820px;
  height: auto;
}

#navigation ul.links {
  font-size: 120%;
}
#navigation ul.links li {
  padding: 5px 0 5px 10px;
}

#navigation a.active {
  text-shadow: 2px 2px 1px rgba(150, 150, 150, 0.50);
}

#main {
  padding-top: 5px;
  border-top: 5px solid #ff6666;
}

.date-nav ul {
  list-style: none;
}

.date-prev {
  right: 55px;
}